.aboutme-img{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1573496004903-b59aeb8579db?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=749&q=80');
	background-size: cover;
  	background-position: center center;
	height: 400px;
	width: 100%;
	object-fit: contain;
	color: white;
}

.aboutme-img>h1{
	padding-top: 150px;
	padding-bottom: 20px;
	margin: auto;
	text-align: center;
}
.aboutme-img>p{
	margin: auto;
	text-align: center;
}
.desc-container{
	display: flex;
	align-items: center;
}
.img-container{
	background-image: url('https://images.unsplash.com/photo-1488813340362-2a31b5522ebe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80');
	background-size: cover;
  	background-position: center center;
  	height: 500px;
  	width: 100%;
}
.desc-small-container{
	background-color: #F0F0F0;
	height: 500px;
	padding: 50px;
	padding-top: 150px;
}
.desc-small-container>h1{
	padding-bottom: 20px;
}
.desc-small-container>p{
	padding-bottom: 20px;
}
.need-container{
	height: 450px;
	width: 100%;
	padding: 120px;
	text-align: center;
}
.need-container>h1{
	margin-bottom: 20px;
}
.need-container>p{
	margin-bottom: 20px;
}
.need-container>button{
	margin-bottom: 20px;
	background: #23E3C9;
  	margin-left: 20px;
  	padding: 20px;
  	color: white;
  	border: none;
  	font-weight: bold;
}
@media screen and (max-width: 768px) {
.aboutme-img{
	padding: 20px;
}
.aboutme-img>h1{
	font-size: 2em;
}
.aboutme-img>p{
	font-size: 1em;
}
.desc-small-container{
	background-color: #F0F0F0;
	height: 500px;
	padding: 50px;
	padding-top: 150px;
}
.desc-small-container>h1{
	padding-bottom: 20px;
}
.desc-small-container>p{
	padding-bottom: 20px;
}
.need-container{
}
}

@media screen and (max-width: 500px) {
.aboutme-img{
	padding: 20px;
	height: auto;
}
.aboutme-img>h1{
	padding-top: 20px;
	font-size: 2em;
}
.aboutme-img>p{
	font-size: 1em;
}
.img-container{
	display: none;
}
.desc-small-container{
	padding-top: 80px;
	height: auto;
}
.desc-small-container>h1{
	padding-bottom: 10px;
	font-size: 1.2em;
}
.desc-small-container>p{
	padding-bottom: 10px;
	font-size: 0.8em;
}
.need-container{
	padding: 30px;
	height: auto;
}
.need-container>h1{
	margin-bottom: 20px;
	font-size: 1.2em;
}
.need-container>p{
	margin-bottom: 20px;
	font-size: 0.8em;
}
.need-container>button{
	padding: 10px;
	font-size: 0.8em;
}
}