.work-container{
	height: 200px;
	width: 100%;
	background: #23E3C9;
	color: white;
	display: inline-flex;
	align-items: center;
	justify-content: space-evenly;
}

.work-small-container{
	display: inline-flex;
	align-items: center;
}
.work-small-container > i {
	font-size: 2em;
	padding: 10px;
}
.p-container > p{
	font-size: 15px;
	padding: 5px;
	margin-bottom: 0;
}
@media screen and (max-width: 960px) {
  .work-small-container{
	height: auto;
	width: 100%;
	padding: 10px;
	align-items: center;
}
}

@media screen and (max-width: 768px) {

.work-container{
	display: grid;
	grid-template-columns: repeat(2, auto);
	align-items: center;
}

.work-small-container > i {
	font-size: 1em;
	padding: 5px;
}
.p-container > p{
	font-size: 10px;
	padding: 5px;
}
}